:root {
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
}
body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f2f2f2;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--secondary-color);
}
img {
    width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
header a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
}
main {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main h4 {
    font-size: 18px;
    line-height: 1.5;
}
main h2 {
    font-size: 24px;
    margin-top: 20px;
}
main img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}
main h3 {
    font-size: 20px;
    margin-top: 20px;
}
main p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}
main a {
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
.project-section {
    text-align: center;
    margin-top: 40px;
}

.project-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}


.project-section .project {
    display: inline-block;
    margin: 0 20px;
    transition: transform 0.3s ease-in-out;
}

.project-section .project:hover {
    transform: scale(1.1);
}
.animated-svg {
    width: 100px;
    height: 100px;
    animation: rotate 2s linear infinite;
    transition: transform 0.3s ease-in-out;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    .animated-svg:hover {
transform: scale(1.2); 
}
}
@media screen and (min-width: 768px) {
    
    header {
        text-align: center;
    }

    header img {
        margin: 0 auto;
        display: block;
    }

    .project-section .project {
        margin: 0 30px;
    }
}

@media screen and (min-width: 1024px) {
    /* Large Screen Sizes */
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header img {
        margin-right: 20px;
    }

    .project-section .project {
        width: 40%;
    }
}