/* Colors used */
:root {
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --brand-background: #fdf7ed;
    --brand-text: #143a52;
}

/* Global Styles */
body,
h1,
h2,
h3,
h4,
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

body {
    background-color: var(--brand-background);
    font-family: 'Poppins', sans-serif;
    color: var(--brand-text);
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--secondary-color);
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 15px;
}

/* Main Content Styles */
main {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    font-size: 2.75em;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

/* Project Section Styles */
.project {
    text-align: center;
    margin-top: 40px;
}

.project h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.project picture {
    display: block;
    margin: 0 auto;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
