:root {
  --primary-color: #6a5acd;
  --secondary-color: #e74c3c;
  --brand-background: #dcdedd;
  --brand-text: #143a52;
}

body,
h1,
h2,
h3,
h4,
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

body {
  background-color: var(--brand-background);
  font-family: "Poppins", sans-serif;
  color: var(--brand-text);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s background-color, 0.2s color;
  animation: pulse 2s infinite;
}

.button:hover {
  background-color: var(--secondary-color);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4b4647;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0 15px;
}

main {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
  font-size: 2.75em;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.project {
  text-align: center;
  margin-top: 40px;
}

.project-1 {
  text-align: center;
  margin-top: 40px;
}

.project h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

footer img {
  max-width: 30px;
  height: auto;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

footer {
  background-color: #4b4647;
  color: white;
  padding: 20px;
  text-align: center;
}


footer a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

footer img {
  max-width: 30px;
  height: auto;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.mobile-menu {
  display: none;
  padding: 20px;
  background-color: #4b4647;
}

.mobile-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.mobile-menu ul {
  list-style: none;
}

.mobile-menu ul li {
  margin-bottom: 10px;
}

.mobile-menu .icon {
  font-size: 24px;
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  .mobile-menu {
    display: block;
  }

  #myNavtoggle {
    display: none;
  }
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle,
  .navtoggle.responsive {
    position: relative;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-lg-6 {
    width: 50%;
  }
  .col-lg-8 {
    width: 100%;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  main {
    padding: 20px 0 20px 20px;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
    text-align: center;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 50%;
  }

  .col-lg-5 {
    width: 50%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    list-style: none;
  }

  li {
    float: left;
  }
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #6a5acd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #6a5acd;
}

/* Add a background color and some padding around the form */
.container-1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
}




